/* DropZone styles */
.dropZone {
  flex: 0 0 auto;
  min-height: 30px;
  height: 30px;
  width: 95%;
  transition: 200ms all;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  /* background: var(--highlight-color); */
  border: 1px solid var(--highlight-color);
  border-radius: 15px;
  transition: 150ms all;
}