@font-face {
  font-family: 'Open Sans';
  src: url('<%= asset_path("fonts/OpenSans-VariableFont_wdth,wght.ttf") %>') format('truetype');
}

* {
  /* font-family: "Courier"; /* Site Default Font */
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
} 

:root {
  --highlight-color: #1d6df7;
  --dark-red: #9e1c25;
  --light-gray: #dedede;
  --bg-gray: #f1f3f5;

  --header-height: 60px;
  --sidebar-width: 100px;

  --standard-br: 10px; /* Standard border radius*/
}

/* Force html to fill page */
html, body, #root, .App {
  height: 100%;
}

* > button:focus, * > input:focus, * > textarea:focus {
  outline: 1px dotted gray !important; /* Override tailwind css */
}

* > textarea, * > input {
  border: 2px solid var(--light-gray); /* Override tailwind css */
}

.text_input {
  border-radius: var(--standard-br);

  padding-left: 5px;
}

.text-highlight {
  color: var(--highlight-color); /* Following tailwind css convention */
}

.text-light-gray {
  color: var(--light-gray); /* Following tailwind css convention */
}

.border-highlight-color {
  border-color: var(--highlight-color);
}

.border-light-gray-color {
  border-color: var(--light-gray);
}

.popup_button {
  color: rgb(128, 128, 128);
  /* background-color: var(--light-gray); */
  background-color: white;

  border-radius: var(--standard-br);
  border: 1px solid var(--bg-gray);
  box-shadow: rgba(100, 100, 111, 0.1) 0px 0px 29px 0px;
  padding: 5px 10px; 
}

.popup_button:hover {
  /* background-color: var(--light-gray); */
  color: var(--highlight-color);
}

/* Overriding default behaviour from react-datepicker pkg*/

.react-datepicker__input-container {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  width: fit-content !important;
}

.react-datepicker__day--selected {
  background-color: var(--highlight-color) !important;
}

.react-datepicker__header {
  background-color: var(--bg-gray) !important;
}

.react-datepicker-wrapper {
  width: fit-content !important;
}

/* Scrollbar Design */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(136, 136, 136);
  opacity: 50%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(117, 117, 117);
}