<%= email_image_tag("Opus_Icon.png") %>
<h2>Dear, <%= @user.username %></h2>
<p>
  You have requested for a password reset, please click on the following link to do so.
  http://localhost:3000/reset?token=<%= @user.reset_password_token %>
</p>
<p>Thanks for using Opus!</p>