* {
  font-family: "Courier New" /* Site Default Font */
}

/* Force html to fill page */
html, body, #root, .App {
  height: 100%;
}

/* Remove Body Margin */
body { 
  margin: 0px; 
  padding: 0px; 
}

/* DropZone styles */
.dropZone {
  flex: 0 0 auto;
  height: 40px;
  width: 100%;
  transition: 200ms all;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  /* flex: 1 1 auto; */
}

.dropZone.active,
.trashDropZone.active {
  background: #00a2ff;
  transition: 100ms all;
}
