* {
  font-family: "Courier New"; /* Site Default Font */
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
} 

:root {
  --highlight-color: #035efc;
  --dark-red: #9e1c25;
  --light-gray: #dedede;
  --bg-gray: #f1f3f5;

  --header-height: 60px;
  --sidebar-width: 100px;

  --standard-br: 10px; /* Standard border radius*/
}

/* Force html to fill page */
html, body, #root, .App {
  height: 100%;
}

* > button:focus, * > input, * > textarea {
  outline: none !important; /* Override tailwind css */
}

* > textarea, * > input {
  border: 2px solid var(--light-gray); /* Override tailwind css */
}

.text_input {
  border-radius: var(--standard-br);

  padding-left: 5px;
}

.text-highlight {
  color: var(--highlight-color); /* Following tailwind css convention */
}


/* DropZone styles */
.dropZone {
  flex: 0 0 auto;
  height: 40px;
  width: 100%;
  transition: 200ms all;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  /* flex: 1 1 auto; */
}

.dropZone.active,
.trashDropZone.active {
  /* background: var(--highlight-color); */
  border: 1px solid var(--highlight-color);
  border-radius: 15px;
  transition: 150ms all;
}

/* react-popup-manager*/
.ReactModal__Overlay {
  z-index: 100; /* ensure popups are infront */
  background-color: rgba(0,0,0,0.3) !important;
}

/* Scrollbar Design */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(136, 136, 136);
  opacity: 50%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(117, 117, 117);
}